{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

    {% block extra_stylesheet %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.css" />
    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/dropify/dropify.min.css' %}">
    <link href="{% static 'assets/css/users/account-setting.css' %}" rel="stylesheet" type="text/css">
    <!--  END CUSTOM STYLE FILE  -->

        <style>
        input {
          text-transform: uppercase;
          }
        textarea {
          text-transform: uppercase;
          }
        </style>

	{% endblock extra_stylesheet %}



{% block content %}

   <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="cs-overlay"></div>
        <div class="search-overlay"></div>

    {% include 'sidebar.html' %}

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <div class="account-settings-container layout-top-spacing">
                    <div class="account-content">
                        <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">


                                    <form id="contact" class="section contact" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="info">
                                            <h5 class="">{{ formtitle }}</h5>
                                            <div class="row">
                                                <div class="col-md-11 mx-auto">
                                                    <div class="row">

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="address">Buyer</label>
                                                                {% render_field form.buyer data-live-search="true" class="selectpicker" %}
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="address">{{ form.source.label }}</label>
                                                                {{ form.source }}
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="address">Agent (Optional)</label>

                                                                {% render_field form.agent data-live-search="true" class="selectpicker" %}
                                                                {% comment %}
                                                                <input name="agent" id="id_agent" list="agents">
                                                                  <datalist id="agents">
                                                                      {% for agent in agents %}
                                                                        <option value="{{ agent.id }}">{{ agent }}</option>
                                                                      {% endfor %}
                                                                  </datalist>
                                                                  {% endcomment %}
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="address">Managing Employee</label>
                                                                {% render_field form.inquiry_user data-live-search="true" class="selectpicker" %}
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="address">Additional Remarks</label>
                                                                {% render_field form.remarks rows="3" %}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="d-sm-flex justify-content-between">
                                                        <div class="field-wrapper">
                                                            <button type="submit" class="btn btn-primary" value="">Add Products</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>



                            </div>
                        </div>
                    </div>
                </div>

                </div>
        </div>
        <!--  END CONTENT AREA  -->

        </div>
    <!-- END MAIN CONTAINER -->


{% endblock content %}

    {% block extra_scripts %}


    <!--  BEGIN CUSTOM SCRIPTS FILE  -->

    <script src="{% static 'plugins/dropify/dropify.min.js' %}"></script>
    <script src="{% static 'plugins/blockui/jquery.blockUI.min.js' %}"></script>
    <!-- <script src="plugins/tagInput/tags-input.js"></script> -->
    <script src="{% static 'assets/js/users/account-settings.js' %}"></script>
    <!--  END CUSTOM SCRIPTS FILE  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>

        <script>

            $('input').toggleClass('form-control');
            $('select').toggleClass('form-control');
            $('textarea').toggleClass('form-control');
            $('input[type="checkbox"]').toggleClass('form-control');
            $('input[type="file"]').toggleClass('form-control');
            $('input[type="file"]').toggleClass('form-control-file');
            $('input[type="checkbox"]').toggleClass('form-control');
            $('input[type="checkbox"]').toggleClass('custom-control-input');

        </script>
    {% endblock extra_scripts %}