{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block extra_stylesheet %}
<!--  BEGIN CUSTOM STYLE FILE  -->
<link rel="stylesheet" type="text/css" href="{% static 'plugins/dropify/dropify.min.css' %}">
<link href="{% static 'assets/css/users/account-setting.css' %}" rel="stylesheet" type="text/css">
<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
<!--  END CUSTOM STYLE FILE  -->
            <style>
            input {
              text-transform: uppercase;
              }
            textarea {
              text-transform: uppercase;
              }
        </style>
{% endblock extra_stylesheet %}

{% block content %}

   <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">
        <div class="overlay"></div>
        <div class="cs-overlay"></div>
        <div class="search-overlay"></div>
    {% include 'sidebar.html' %}

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">

                <div class="account-settings-container layout-top-spacing">

                    <div class="account-content">
                        <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
                            <div class="row">

                                <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                                        <form id="contact" class="section contact" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input name="total-forms" value="{{ InquiryProducts.count }}" type="hidden">
                                        <div class="info">
                                            <h5 class="">{{ formtitle }}</h5>

                                            <div class="row">
                                                <div class="col-md-11 mx-auto">
                                                    <div class="row" id="form_set">

                                                        {% for product in InquiryProducts %}
                                                            <div class="col-md-6">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <label for="address">{{ product.product }}</label>

                                                                            <input name="inquiry-product-id-{{ forloop.counter0 }}" value="{{ product.id }}" type="hidden">

                                                                            <select name="inquiry-product-suppliers-{{ forloop.counter0 }}" multiple="" class="form-control" size="10">
                                                                                {% for supplier in product.get_product_suppliers %}
                                                                                    <option value="{{ supplier.id }}" {% if supplier in product.suppliers.all %}selected{% endif %}>{{ supplier }}</option>
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}

                                                    </div>
                                                    <div class="d-sm-flex justify-content-between">
                                                        <div class="field-wrapper">
                                                            <button type="submit" class="btn btn-primary" value="">Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                </div>
        </div>
        <!--  END CONTENT AREA  -->

        </div>
    <!-- END MAIN CONTAINER -->


{% endblock content %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script>
    $('#add_more').click(function() {
        var form_idx = $('#id_Product-TOTAL_FORMS').val();
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_Product-TOTAL_FORMS').val(parseInt(form_idx) + 1);


        var datefieldid = "#id_Product-" + form_idx + "-delivery_date";
        console.log(datefieldid);

        $(datefieldid).removeClass("hasDatepicker");
        $(".datepicker").datepicker({
              dateFormat: 'yy-mm-dd',
              minDate: 0,
        });

        $( datefieldid ).datepicker({
              dateFormat: 'yy-mm-dd',
              minDate: 0,
        });
        console.log('added datetimepicker');
    });

    $( document ).ready(function() {
        $( "input[name*='date']" ).datepicker({
              dateFormat: 'yy-mm-dd',
              minDate: 0,
        });
    });
</script>

<!--  BEGIN CUSTOM SCRIPTS FILE  -->
<script src="{% static 'plugins/dropify/dropify.min.js' %}"></script>
<script src="{% static 'plugins/blockui/jquery.blockUI.min.js' %}"></script>
<!-- <script src="plugins/tagInput/tags-input.js"></script> -->
<script src="{% static 'assets/js/users/account-settings.js' %}"></script>
<!--  END CUSTOM SCRIPTS FILE  -->

{% endblock extra_scripts %}







