{% extends 'base.html' %}
{% load static %}
{% block extra_stylesheet %}

    <!-- BEGIN PAGE LEVEL CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/datatables.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/custom_dt_html5.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/dt-global_style.css' %}">
    <!-- END PAGE LEVEL CUSTOM STYLES -->

{% endblock extra_stylesheet %}



{% block content %}

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="cs-overlay"></div>
        <div class="search-overlay"></div>

        {% include 'sidebar.html' %}

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">

                <div class="row layout-top-spacing" id="cancel-row">

                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">

                        <div class="widget-content widget-content-area br-6">

                            <div class="table-responsive mb-4 mt-4">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-8 col-md-8 col-sm-8 col-8">
                                            <h4>Enquiries</h4>
                                        </div>
                                        <div class="col-xl-4 col-md-4 col-sm-4 col-4">
                                            <div class="dt-buttons" style="float: right;">
                                                <a href="{% url 'employee:add_enquiry' %}">
                                                <button class="dt-button buttons-copy buttons-html5 btn" href="{% url 'employee:add_enquiry' %}">
                                                    <span>Add Enquiry</span>
                                                </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <table id="html5-extension" class="table table-hover non-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Enquiry No.</th>
                                            <th>Enq. Date</th>
                                            <th>Office</th>
                                            <th>Product</th>
                                            <th>Supplier</th>
                                            <th>Buyer</th>
                                            <th>Sub-Agent.</th>
                                            <th>PO No</th>
                                            <th>Contr. No</th>
                                            <th>Price/Kg</th>
                                            <th>QTY</th>
                                            <th>SRC</th>
                                            <th>Status</th>
                                            <th>Indenting Comm.</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    {% for enquiry in enquiries %}
                                        <tr>
                                            <td>{{ enquiry.enquiry_no }}</td>
                                            <td>{{ enquiry.date_of_inquiry|date }}</td>
                                            <td>{{ enquiry.responsible_office }}</td>
                                            <td>{{ enquiry.product }}</td>
                                            <td>{{ enquiry.final_supplier }}</td>
                                            <td>{{ enquiry.customer }}</td>
                                            <td>{{ enquiry.agent }}</td>
                                            <td>{{ enquiry.po_no }}</td>
                                            <td>{{ enquiry.contract_no }}</td>
                                            <td>{{ enquiry.price_kg }}</td>
                                            <td>{{ enquiry.quantity }}</td>
                                            <td>{{ enquiry.source }}</td>
                                            <td>{{ enquiry.status }}</td>
                                            <td>{{ enquiry.indenting_commission }}</td>


                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-dark btn-sm">Open</button>
                                                    <button type="button" class="btn btn-dark btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference1">
                                                      <a class="dropdown-item" href="#">Action</a>
                                                      <a class="dropdown-item" href="#">Another action</a>
                                                      <a class="dropdown-item" href="#">Something else here</a>
                                                      <div class="dropdown-divider"></div>
                                                      <a class="dropdown-item" href="#">Separated link</a>
                                                    </div>
                                                  </div>
                                            </td>
                                        </tr>

                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

                </div>

        </div>
        <!--  END CONTENT AREA  -->

    </div>
    <!-- END MAIN CONTAINER -->
{% endblock content %}

{% block extra_scripts %}
    <!-- BEGIN PAGE LEVEL CUSTOM SCRIPTS -->
    <script src="{% static 'plugins/table/datatable/datatables.js' %}"></script>
    <!-- NOTE TO Use Copy CSV Excel PDF Print Options You Must Include These Files  -->
    <script src="{% static 'plugins/table/datatable/button-ext/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.print.min.js' %}"></script>
    <script>
        $('#html5-extension').DataTable( {
            dom: '<"row"<"col-md-12"<"row"<"col-md-6"B><"col-md-6"f> > ><"col-md-12"rt> <"col-md-12"<"row"<"col-md-5"i><"col-md-7"p>>> >',
            buttons: {
                buttons: [
                    { extend: 'copy', className: 'btn' },
                    { extend: 'csv', className: 'btn' },
                    { extend: 'excel', className: 'btn' },
                    { extend: 'print', className: 'btn' }
                ]
            },
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Showing page _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
               "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [7, 10, 20, 50],
            "pageLength": 7
        } );
    </script>
    <!-- END PAGE LEVEL CUSTOM SCRIPTS -->
{% endblock extra_scripts %}